# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.env/

# Variables de entorno
.env

# Logs
*.log

# VSCode
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Docker
*.tar

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Archivos temporales
tmp/
temp/